      <footer class="l-footer">
        <div class="p-footerLogo">
          <p class="p-footerLogo__text">
            By <a href="#">Mana</a><br>© 2012 <a href="#">Web Creator Box</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>