<header class="l-header">
  <div class="p-header">
    <div class="p-header__logo">
      <img src="" alt="">
    </div>
    <nav>
      <ul class="p-headerNav">
        <li class="p-headerNav__list"><a class="c-link" href="">ホーム</a></li>
        <li class="p-headerNav__list"><a class="c-link" href="">自己紹介</a></li>
        <li class="p-headerNav__list"><a class="c-link" href="">作品</a></li>
        <li class="p-headerNav__list"><a class="c-link" href="">お問い合わせ</a></li>
      </ul>
    </nav>
  </div>
</header>