<% var title = "TEST"; var description = "testのdescription"; %> <%
include ../template/_head %>

<% include ../template/_header %>
<!-- prettier-ignore -->
<h1>
  testページへようこそ！！
  testだよ！！！
</h1>
<a href="/">to top</a>

<% include ../template/_footer %>
