<% var title = "ABOUT"; var description = "アバウトページのdescription"; %> <%
include ../template/_head %>

<!-- prettier-ignore -->
<h1>
  アバウトページへようこそ！！
  developだよ！！！
</h1>
<a href="/">to top</a>

<% include ../template/_footer %>
