@use "../foundation/var";

.l-section {
  @include var.flexBox(space-between, none, wrap);
  @at-root {
    #{&}__title {
      width: 100%;
      margin-bottom: 50px;
      font-size: 25px;
      text-align: center;
    }
  }
}
