@use "../../foundation/var";

.p-footerLogo {
  @include var.flexBox(center, center);
  width: 300px;
  height: 100px;
  margin: 0 auto;
  background-color: #69c;
  outline: solid 2px #fff;
  outline-offset: -10px;
  @at-root {
    #{&}__text {
      color: var.$colorWhite;
      font-size: 13px;
      text-align: center;
    }
  }
}
