@use "../../foundation/var";

.p-header {
  @include var.flexBox(space-between, center);
  @at-root {
    #{&}__logo {
      width: 180px;
      height: 100px;
      background-image: url('#{var.$bgPath}logo.jpg');
    }
  }
}
