.u-mb-10 { margin-bottom: 10px !important; }

.grid-test {
  display: grid;
  grid-template-columns: repeat(300px);
  gap: 10px;
  grid-area: aside;
}

.flex-test {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}